@import '~@angular/material/theming';

::ng-deep.mat-list-base {
  padding-top: 0 !important;
}

a {
  text-decoration: none;
  color: white;
  transition: all .4s ease;
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}

.active {
  background: rgba(43, 151, 236, 0.3);
}

.head {
  width: 100%;
  height: 10vh;
  justify-content: left;
  padding-left: 8%;
  background: var(--primary);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  margin-bottom: 2%;
}
